.header {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  background-color: #242424;
  padding: 20px;
  color: rgba(11, 11, 11, 0.87);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.header:hover {
  background-color: #1e1e1e;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: light) {
  .header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #213547;
  }

  .header:hover {
    background-color: #bebaba;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
}
