.searchContainer h2 {
  font-size: 24px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid grey;
}

.searchInput {
  max-width: 235px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  margin-top: 16px;
}
