.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Центрування по вертикалі */
  gap: 20px; /* Зменшено відступ між пунктами меню */
  padding: 10px 20px; /* Додано відступи навколо навігаційної панелі */
  /* Темний фон для навігаційної панелі */
  border-radius: 8px; /* Округлені кути */
}

.link {
  display: flex;
  align-items: center; /* Центрування іконок та тексту по вертикалі */
  font-size: 1.125rem; /* Зменшено розмір шрифту для більшого комфорту */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87); /* Колір тексту */
  transition: color 0.3s ease; /* Плавний перехід для кольору */
}

.link:hover {
  color: #61dafb; /* Колір при наведенні курсору */
}

.isActive {
  text-decoration: underline;
  color: #61dafb; /* Колір для активного посилання */
}
.nav span {
  margin-right: 8px; /* Відступ між іконкою та текстом */
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: light) {
  .link {
    color: #213547;
  }

  .link:hover {
    color: #000;
  }

  .isActive {
    color: #007aff;
  }
}
