.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.title {
  font-size: 58px;
  line-height: 1.5;
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #ff7e5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
  background-size: 300% 100%; /* Збільшено розмір фону */
  animation: gradient-animation 3s linear infinite; /* Оновлено анімацію */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
