.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px; /* Узгоджене відступи між елементами */
}

.btn {
  border: 1px solid grey; /* Сірий контур кнопок */
  border-radius: 7px; /* Округлені кути */
  padding: 7px 12px; /* Відступи всередині кнопки */
  background-color: #1a1a1a; /* Темний фон кнопок */
  color: #fff; /* Світлий текст на кнопках */
  font-size: 1em; /* Узгоджений розмір шрифту */
  font-weight: 500; /* Товщина шрифту */
  cursor: pointer; /* Курсор для кнопок */
  transition: background-color 0.4s ease; /* Плавний перехід фону */
}

.btn:hover {
  background-color: grey; /* Зміна фону кнопки при наведенні */
  transition: background-color 0.4s ease; /* Плавний перехід фону */
}
